<ng-container *ngIf="cartService.selectedItemPlusQuantity | async as selectedProduct; else selectSomething">
  <div
    class="detail"
  >
    <h3>{{ selectedProduct.title }}</h3>
    <div class="image-wrapper">
      <div class="product-image">
        <img
          [src]="selectedProduct.image"
          [alt]="selectedProduct.title"
          height="500"
          width="500"
        />
      </div>
      <div class="description">

        <p>{{ selectedProduct.description }}</p>
        <h4
          [attr.aria-label]="'Product Tags: ' + selectedProduct.tags"
        >
          <p
            aria-hidden="true"
          >Tags:
          <ng-container *ngFor="let tag of selectedProduct.tags">
            <span
              class="tag"
              [innerHTML]="tag"
            ></span>
          </ng-container>
          </p>
        </h4>
        <p class="price">Price: <span>{{ selectedProduct.price | currency }}</span></p>
        <app-add-to-cart-button
          [productId]="selectedProduct.id"
        ></app-add-to-cart-button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #selectSomething>
  <h3>Please Select a Product</h3>
</ng-template>