<section
  aria-label="Featured Product"
>
  <h2 class="featured-product-banner">{{'Featured Product' | uppercase}}</h2>
  <div class="featured-product">
    <div class="image-container">
      <img
        ngSrc="../../assets/images/cropped/36.jpg"
        alt="Man playing a sports horn"
        width="400"
        height="400"
      />
    </div>
    <div class="featured-product-text">
      <h3> 
        <a
        [routerLink]="['../', ROUTE_TOKENS.products, 'spectators']"
        [queryParams]="{
          productId: '36'
        }"
      >Horn for Sports</a></h3>
      <p>Who doesn't love a guy in the stands playing a single note really loud on his sports horn! You can be that guy!</p>
      <p class="sub-text">Celebrity Sightings</p>
      <p>Rumor has it this sports horn is modeled after one famously played by professional footballer Kevin De Bruyne!</p>
      <p class="sub-text">Pairs With...</p>
      <p>Obviously a nice Belgian Ale, But don't forget to also order 
        <a
          [routerLink]="['../', ROUTE_TOKENS.products, 'spectators']"
          [queryParams]="{
            productId: '35'
          }"
        >Tubs of Face Paint</a> to finish off the look!</p>
    </div>
  </div>
</section>
