<nav
  aria-label="Product Details"
  class="side-nav"
>
  <ul>
    <ng-container *ngFor="let product of products | async">
      <li>
        <a
          [routerLink]="['./']"
          routerLinkActive="router-link-active"
          ariaCurrentWhenActive="page"
          [queryParams]="{
            productId: product.id
          }"
          class="image-button"
        >
          <img
            [alt]="product.title"
            [src]="product.thumb"
            height="106"
            width="106"
          />
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
