<section aria-label="Store Logo and Motto">
  <h2 class="visually-hidden">Store Logo and Motto</h2>
  <app-hero-section [imageUrl]="homeImageUrl" />
  <sub-hero-logo>
    <ng-container title>It's Always Time for Sports</ng-container>
    <ng-container sub-title
      >And we have the stuff you need to do sports</ng-container
    >
    <ng-container banner>{{ bannerText }} </ng-container>
  </sub-hero-logo>
  @defer(on viewport) {
    <app-featured-product />
  } @placeholder {
    <p>...loading</p>
  }
  @defer(on viewport) {
    <app-sub-section />
  }  @placeholder {
    <p>...loading</p>
  }
</section>
